@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .slide-out-right {
    animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2 both;;
  }
  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    25% {
      transform: translateX(40px);
      opacity: 1;
    }
    50% {
      transform: translateX(-40px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
}